{# {% extends 'base_admin.html.twig' %}
{% block title %}Détails Conseiller{% endblock %}
{% block body %}
<div class="page-wrapper">
	<div class="page-breadcrumb">
		<h1 class="text-center">
			Supprimer le conseiller
		</h1>
	</div>
	<div class="row justify-content-center align-items-center h-100">
		<div class="col col-sm-6">
			<form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('êtes vous sûr de vouloir supprimer ce conseiller?');">
				<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
				<button class="btn" type="submit">Supprimer</button>
			</form>
		</div>
	</div>
</div>

{% endblock %} #}
<form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('êtes vous sûr de vouloir supprimer ce conseiller?');">
				<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
				<button class="btn btn-danger" type="submit">Supprimer</button>
			</form>
