{% extends 'base.html.twig' %}

{% block title %}New Demande
{% endblock %}

{% block form_title %}
	<div class="text-center mt-5 h5">
		Remplir le formulaire
	</div>
{% endblock %}
{% block MainBody %}

	<section class="container col-md-6 mt-5">


		{{ include('demande/_form.html.twig') }}
	</section>

{% endblock %}
