{% extends 'base.html.twig' %}

{% block title %}New Demande{% endblock %}

{% block body %}

<section class="container">
    <h1 class="text-center">Create new Demande</h1>

    {{ include('demande/_form.html.twig') }}
</section>

    {# <a href="{{ path('app_demande_index') }}">back to list</a> #}
{% endblock %}
