{% extends 'base.html.twig' %}
{% block title %}
	Nos Offres
{% endblock %}

{% block MainBody %}

	<!--  section start -->
	<div class="contact_section layout_padding">
		<div   class="container mt-3 rounded-3 ">
				
				<div  class="icon_1 mt-5">
				<img style ="background-color: #1b5a8d;" class="p-2" src="{{asset('uploads/logo_bs/'~ bank_service.logo ~'')}}">
				</div>

			<h1 class="what_taital mt-1">{{ bank_service.titre }}</h1>

			<div class="jumbotron">
				{# <hr class="my-5"> #}
				<p class ="lead">{{ bank_service.description }}</p>
				<p class=" moremore_bt2 mt-5 text-center ">
					<a class="btn btn-lg px-5" href="{{ path('app_bank_service_indexpublic') }}" role="button">
						Retour aux services</a>
						
				</p>
			</div>

		</div>
	</div>
<!--  section end -->{% endblock %}
