{% extends 'base_client.html.twig' %}

{% block title %} Client Mes Demandes{% endblock %}
{% block mainboard %}
        <div class="content-wrapper">
						<div class="page-header">
							<h3 class="page-title">
								<span class="page-title-icon bg-gradient-primary text-white me-2">
									<i class="mdi mdi-home"></i>
								</span>
								Mes Demandes
							</h3>
						</div>
						<div class="col-6 text-end mb-2">
								<a class="btn btn-block btn btn-gradient-info me-2" href="{{path('app_dashboardClienNewDemande')}}">
								<span class="text-white">Faire une nouvelle demande</span>
							</a>
						</div>
						
					<div class="row">
						<div class=" grid-margin stretch-card">
								<div class="card">
									<div class="card-body">

										<div class="clearfix">							
										</p>
										<table class="table table-hover">
										<thead>
											<tr>
												<th>Numéro Demande</th>
												<th>Date de demande</th>
												<th>Type de Compte</th>
												<th> Status </th>
											</tr>
										</thead>
										<tbody>
											<tr>
											<td>01</td>
											<td>14/12/2022</td>
											<td> Compte courant </td>
											<td>
													<label class="badge badge-danger">Pending</label>
												</td>
											</tr>

										</tbody>
									</table>
									</div>
								</div>
						</div>
			</div>
						
		</div>
					
{% endblock %}