{% extends 'base_client.html.twig' %}

{% block title %}
	Client dashboard
{% endblock %}
{% block mainboard %}
	<div class="content-wrapper">
		<div class="page-header">
			<h3 class="page-title">
				<span class="page-title-icon bg-gradient-primary text-white me-2">
					<i class="mdi mdi-transcribe-close"></i>
				</span>
				Faire une nouveux Transactions
			</h3>
		</div>

		<div class="row">
			<div class=" grid-margin stretch-card">
				<div class="card">
					<div class="card-body">

						<div class="clearfix">
							<h4 class="card-title text-center"></h4>
						</p>


						<div class="pt-3">



							{{ include('transaction/_form.html.twig') }}

							<a href="{{ path('app_dashboardClient_operations') }}"> Retourner vers list d'opérations</a>

							{# <div class="form-group">
								<label for="" class="form-label">
									Montant
								</label>
								<input type="number" class="form-control">
							</div>

							<select class="form-select" aria-label="Default select example">
								<option selected>Type d'operations</option>
								<option value="1">Debit
								</option>
								<option value="2">Credit</option>
							</select>

							<div class="mt-3 text-end">
								<a class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" href="">Envoyer</a>
							</div> #}

						</div>


					</div>

				</div>
			</div>
		</div>

	</div>

{% endblock %}


