{% extends 'base_client.html.twig' %}

{% block title %} Client dashboard{% endblock %}
{% block mainboard %}
        <div class="content-wrapper">
						<div class="page-header">
							<h3 class="page-title">
								<span class="page-title-icon bg-gradient-primary text-white me-2">
									<i class="mdi mdi-home"></i>
								</span>
								Mes Notifications
							</h3>
						</div>
						
		<div class="row">
						<div class=" grid-margin stretch-card">
								<div class="card">
									<div class="card-body">

										<div class="clearfix">
											
										</p>
										
										<table class="table table-hover">
										<thead>
											<tr>
												
												<th>Objet</th>
												<th>Contenu</th>
											</tr>
										</thead>
										<tbody>
											<tr>
										
											<td>Crédit</td>
											<td> Votre compte à été credité 100 euro </td>
									
										</tbody>
									</table>


									</div>

								</div>
						</div>
			</div>
						
		</div>
					
{% endblock %}