<form method="post" action="{{ path('app_actualites_delete', {'id': actualite.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer cette actualité?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ actualite.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
